Makefile
Makefile.in
aclocal.m4
*~
autom4te.cache
config.log
config.status
configure
src/m4w
src/m4w.sh
src/pp
src/sili
src/sili.pl
src/xfmPipe
tests/atconfig
tests/atlocal
tests/testsuite
tests/testsuite.dir
tests/testsuite.log
