<@ # -*-perl-*-

# gpl
# 
#  Author: Renwix (renwix@gmail.com)
#  Maintainer: Renwix
#  Copyright (C) 2008 Renwix, all rights reserved.
#  Created: Tue Sep 23 23:52:17 MDT 2008
# 
# 
#=======================================================================
# 
# This file is part of theSiliProject, a humorous software organization,
# design and development toolkit.
# 
# theSiliProject is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# theSiliProject is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with theSiliProject. If not, see <http://www.gnu.org/licenses/>.
# 
#=======================================================================
# 
# /gpl

# $xfmpipe = [{command => "pp.pl  -s '<@' -e '@>'" , }] -*-xml-*-
# <templateDefinition> my $tmp = $outputName; $tmp =~ s/\.pm.+$//; $ENV{script} = $tmp; </templateDefinition>
use Env qw(script);
@><: #-*- perl -*-

<@ use Env; @>

# $xfmpipe = [{ command => 'pp.pl', chmod => '+x' }]
use Helpers::PerlScript;

my $ps = Helpers::PerlScript->new( name => '<@= $script @>.pl' , 
                                   description => 'description for <@= $script @>',
                                   include => [],
#                                   suppressRequiredVariableCheck => 't',
                                   getopts => [
# 					       { tag => 'someTag:s',
#                                                  variable => '$someTag',
#                                                  required => 't',
#                                                  default => '1'
#                                                  description => 'description of someTag',},
					       ],
                                   );
print $ps->dump(); print $ps->pod();
:>
 
#print_usage() unless .... some condition;

cleanup 0; # "
